 /*html,body {
	width:100%;
	height:100%;
	margin: 0;
	font-size: 12px;
	overflow: hidden;
}*/
.th_d_adver ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.th_d_adver ul{
	width:100%;
	height: 100%;
}
.th_d_adver .canvas{
	position: absolute;
	left: 0;
	top:0;
	z-index: -2;
}
.th_d_adver .clearfix{
	display: block;
	content:"";
	clear: both;
}
.th_d_adver .poR{
	position:relative;
}
.th_d_adver .box{
	width: 100%;
	height:100%;
	position: relative;
	overflow: hidden;
	/*border:1px solid transparent;
	width: 88%;
	height:52%;
	margin: 0 auto;
	overflow: hidden;*/
	/*position: relative;*/
}

.th_d_adver .box .box-con{
	/*border:1px solid transparent;*/
	width: 88%;
	height:52%;
	position: absolute;
	top:17%;
	left:6%;
}

.th_d_adver .box .box-con li{
    width: 320px;
    height: 188px;
    background: #fff;
    position: absolute;
    left: 660px;
    top: 66px;
    cursor: pointer;
    /*z-index: 10;*/
	    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.4, transparent), to(rgba(0,0,0,0.2)));  
    }
.th_d_adver .box .box-con li img{
    	width: 100%;
    	    height: 100%;
    }


.th_d_adver .box .prev,.next{
   	width:32%;
   	height: 73%;
   	display: block;
   	position: absolute;
   	top: 13%;
   	z-index: 51;
   	cursor: pointer;
   }

.th_d_adver  .prev{
   	left: -44px;
   	background: url(../img/left.png) no-repeat 0px 50%;
   }
.th_d_adver .next{
	   right:-41px;
	   background: url(../img/right.png) no-repeat 100% 50%;
   }


/*li*/
.th_d_adver li .b_tit {
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.th_d_adver  li .liPOpacity {
    width: 100%;
    height: 40px;
    background: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
.th_d_adver .tit{
    width: 100%;
    height: 40px;
    /*padding: 0 10px;*/
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
}
.th_d_adver .tit>span{
    width: 100%;
    height: 30px;
    font-weight: normal;
    float: left;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
    color: #fff;
    border-bottom: 1px solid #2f2f2c;
    margin: 0px;
    padding: 0px; 
    text-indent:10px; 
}

.th_d_adver .list a{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
}


/*弹出页面*/
.th_d_adver .letvIframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border: 0;
    overflow: hidden;
}

.th_d_adver .letvclose {
    top: 10px;
    right: 10px;
    border: 2px solid #fff;
    color: #fff;
    font: 14px/20px "微软雅黑";
    position: absolute;
}

.th_d_adver iframe{
	border:none;
}
.th_d_adver .box{
	background: url(../img/privateCinema_bg.jpg);
}
.adver_box{
	width: 100%;
	min-width: 1200px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.th_d_adver{
	width: 100%;
	height: 500px;
	overflow: hidden;
	
}
.th_d_adver>p{
	font-size: 30px;
	position: absolute;
	top: 27px;
	left: 50%;
	z-index: 30;
	margin-left: -50px;
	color: #fff;
}
