* {
	margin: 0;
	padding: 0;
}

.nav1_container {
	margin: 0 auto;
	width: 1364px;
}

.a {
	width: 1364px;
	height: 70px;
	background: #222;
}

.b {
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}

.c {
	width: 260px;
	height: 70px;
	float: left;
}

.d {
	width: 512px;
	height: 70px;
	float: left;
}

.e {
	width: 415px;
	height: 70px;
	float: right;
}

.e ul li:hover {
	color: yellowgreen;
}

.e ul li a {
	color: gainsboro;
}

.e ul li a:hover {
	color: yellowgreen;
	text-decoration: none;
}

.d1 {
	width: 300px;
	height: 36px;
	color: black;
	margin-left: 34px;
	margin-top: 14px;
	line-height: 37px;
}

.d2 {
	width: 100px;
	height: 36px;
	margin-left: 330px;
	margin-top: -36px;
	float: left;
}

.e ul {
	margin-top: 18px;
	margin-left: 10px;
}

.e li {
	float: left;
	list-style: none;
	font-size: 15px;
	display: inline-block;
	padding: 5px;
	color: gainsboro;
}

.f {
	overflow: hidden;
	width: 1364px;
	height: 410px;
	background-image: url(../img/b.jpg);
}

.f1 {
	width: 223px;
	height: 336px;
	border: 1px solid dimgray;
	margin-left: 1059px;
	margin-top: 36px;
	background: black;
	/*opacity: 0.8;*/
}

.f1 ul {
	text-align: center;
	margin-top: 10px;
}

.f1 li {
	list-style: none;
	color: white;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	font-family: "微软雅黑";
}

.f11 {
	margin-left: 11px;
	width: 200px;
	border-bottom: 1px solid grey;
}

.m {
	width: 1362px;
	height: 113px;
	border: 1px solid #010101;
	background-color: #010101;
}

.m1 {
	width: 1200px;
	height: 92px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid green;
}

.m1 li a {
	font-family: "微软雅黑";
	font-size: 13px;
}

.m11 {
	float: left;
	margin-left: 14px;
	margin-top: 12px;
	height: 65px;
	border-right: 1px solid green;
	overflow: hidden;
}

.m11 ul {
	margin-left: 12px;
	width: 57px;
	display: inline-block;
}

.m11 li {
	list-style: none;
}

.m11 li a {
	text-decoration: none;
	color: gainsboro;
}

.m11 li a:hover {
	color: greenyellow;
}

.m25 {
	width: 75px;
	height: 70px;
	margin-right: 0px;
	margin-top: 8px;
	overflow: hidden;
	float: right;
}

.m111 {
	margin-left: -6px;
}

.m112 {
	margin-left: -9px;
}

#fix {
	position: fixed;
	top: 0;
	display: none;
	z-index: 900;
}

.select {
	background: #222;
	color: white;
	font-size: 14px;
}

.picture {
	width: 20px;
	height: 25px;
	margin-top: 1px;
	margin-left: 8px;
	background: url(../img/859fd7343bdf6bb804c8baf36dee5734_site-icons-qyIndex_v2.png) 0px -518px no-repeat;
}

.biao {
	margin-top: -27px;
	margin-left: 33px;
	width: 114px;
	height: 25px;
}

.biao li {
	font-size: 10px;
	color: #010101;
}

.picture1 {
	width: 20px;
	height: 25px;
	margin-top: 15px;
	margin-left: 8px;
	background: url(../img/859fd7343bdf6bb804c8baf36dee5734_site-icons-qyIndex_v2.png) -36px -518px no-repeat;
}

.picture2 {
	width: 25px;
	height: 19px;
	margin-top: 15px;
	margin-left: 8px;
	background: url(../img/859fd7343bdf6bb804c8baf36dee5734_site-icons-qyIndex_v2.png) -58px -518px no-repeat;
}

.picture3 {
	width: 25px;
	height: 25px;
	margin-top: 15px;
	margin-left: 8px;
	background: url(../img/859fd7343bdf6bb804c8baf36dee5734_site-icons-qyIndex_v2.png) -97px -518px no-repeat;
}

.picture4 {
	width: 73px;
	height: 30px;
	border-radius: 6px;
	color: white;
	background: green;
	text-align: center;
	line-height: 29px;
	margin-left: 44px;
	margin-top: 19px;
}

.shangchuan1 {
	width: 158px;
	height: 207px;
	position: absolute;
	top: 52px;
	right: 165px;
	color: #000000;
	background: white;
	z-index: 10;
	border-radius: 5px;
	display: none;
}

.wenjian {
	width: 77px;
	height: 180px;
	background: white;
	position: absolute;
	z-index: 10;
	right: 267px;
	top: 70px;
	border-radius: 5px;
	display: none;
}

.wenjian ul li {
	font-size: 10px;
	color: #000000;
}